
.main {
  height: 100vh;
  background-color: #F5F6F9;
  letter-spacing: 0px;
  font-weight: 600;
  .animation {
    height: 300px;
  }
  h3 {
    font-size: 24px;
    color: #454C66;
  }

  p {
    font-size: 14px;
    margin-top: 20px;
    color: #747A88;
  }
}
